<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Duffland 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>Created by: <a href="http://github.com/mserino" target="_blank">margherita serino</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>Template: <a href="http://startbootstrap.com/template-overviews/agency/" target="_blank">Agency</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>