<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Attività</h2>
                {{!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> --}}
            </div>
        </div>
        <div class="row">

            <div class="row text-center">
                <div class="col-lg-12 text-center">
                <h3 class="service-heading">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
                    </span>
                    Attività educative
                </h3>
                </div>

                <div class="col-md-4 activity">
                    <img src="img/portfolio/educazione.jpg" class="img-responsive" alt="">

                    <h4 class="service-heading">Educazione di base</h4>
                    <p class="text-muted">Impariamo a conoscere il nostro cane e, attraverso un percorso educativo, impariamo a gestire al meglio ogni situazione con lui!</p>
                </div>

                <div class="col-md-4 activity">
                    <img src="img/portfolio/socializzazione.jpg" class="img-responsive" alt="">

                    <h4 class="service-heading">Socializzazione</h4>
                    <p class="text-muted">I cani sono animali sociali, per questo hanno bisogno di approcciarsi ai loro simili in maniera corretta, e noi abbiamo bisogno di imparare a leggere alcuni rituali e comportamenti che caratterizzano il loro linguaggio.</p>
                </div>

                <div class="col-md-4 activity">
                    <img src="img/portfolio/puppyclass.jpg" class="img-responsive" alt="">

                    <h4 class="service-heading">Puppy class</h4>
                    <p class="text-muted">L'educazione inizia fin da cuccioli! Gettiamo le basi per un binomio cane-proprietario invincibile, impariamo da subito a fare esperienze insieme e a crescere nel meraviglioso mondo dei cuccioli!</p>
                </div>

                <div class="col-md-4 activity">
                    <img src="img/portfolio/asilogiornaliero.jpg" class="img-responsive" alt="">

                    <h4 class="service-heading">Asilo giornaliero</h4>
                    <p class="text-muted">Se lavorate tutto il giorno e avete il problema di dove lasciare il vostro amico quadrupede questa è la soluzione che fa per voi! Lasciandolo in asilo giornaliero da noi, il vostro cane avrà la possibilità di socializzare, di giocare, di fare piccole attività educative e/o sportive con noi! Vedrete che farà piacere sia a voi che a lui!</p>
                </div>

                <div class="col-md-4 activity">
                    <img src="img/portfolio/asilogiornaliero.jpg" class="img-responsive" alt="">

                    <h4 class="service-heading">Pensione</h4>
                    <p class="text-muted">La pensione prevede strutture adeguate con Box coperti, spazi aperti in cui poter giocare, attività di socializzazione e di gioco per i nostri ospiti.</p>
                </div>

                <div class="col-lg-12 text-center">
                <h3 class="service-heading">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
                    </span>
                    Attività sportive
                </h3>
                </div>

                <div class="col-md-4">
                    <img src="img/portfolio/agility.jpg" class="img-responsive" alt="">
                    <h4 class="service-heading">Agility Dog</h4>
                </div>
                <div class="col-md-4">
                    <img src="img/portfolio/agility.jpg" class="img-responsive" alt="">
                    <h4 class="service-heading">Rally Obedience</h4>
                </div>
                <div class="col-md-4">
                    <img src="img/portfolio/agility.jpg" class="img-responsive" alt="">
                    <h4 class="service-heading">Obedience</h4>
                </div>
                <div class="col-md-4">
                    <img src="img/portfolio/agility.jpg" class="img-responsive" alt="">
                    <h4 class="service-heading">Ricerca</h4>
                </div>
                <div class="col-md-4">
                    <img src="img/portfolio/agility.jpg" class="img-responsive" alt="">
                    <h4 class="service-heading">Retrievering</h4>
                </div>
                <div class="col-md-4">
                    <img src="img/portfolio/agility.jpg" class="img-responsive" alt="">
                    <h4 class="service-heading">Attività acquatiche</h4>
                </div>

                <div class="col-lg-12 text-center">
                <h3 class="service-heading">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
                    </span>
                    Attività di consulenza su:
                </h3>
                    <p class="text-muted">Scelta del cucciolo, inserimenti domiciliari, percorsi educativi per neo adottanti</p>
                </div>

                <div class="col-lg-12 text-center">
                <h3 class="service-heading">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
                    </span>
                    Organizzazione di escursioni ed eventi
                </h3>
                </div>

            </div>

        </div>
    </div>
</section>