<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chi Siamo</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 text-center col-md-offset-2">
                <p class="text-muted">
                Il centro cinofilo Duffland nasce nel 2012 e prende il nome dal suo "fondatore", il Border Collie Duff!<br>
                Nasce dalla passione, dall'amore e dalla competenza degli istruttori, che con esperienza ed estrema serietà si mettono al servizio dei proprietari e degli amici a quattro zampe per creare belle esperienze e fantastici binomi!<br>
                Veniteci a trovare!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/chiara.jpg" class="img-responsive img-circle" alt="">
                    {{!-- <h4>Chiara Lorenzetti</h4> --}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/fabrizio.jpg" class="img-responsive img-circle" alt="">
                    {{!-- <h4>Fabrizio Romano</h4> --}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/vera.jpg" class="img-responsive img-circle" alt="">
                    {{!-- <h4>Vera Stucchi</h4> --}}
                </div>
            </div>
        </div>
    </div>
</section>